go
dconf
gtk-3.0
pulse
gh
mimeapps.list
systemd
tickrs
kde.org
dolphinrc
arduino-ide
configstore
Electron*
electron*
session
Qt*
trashrc
kcachegrind*
btop
heaptrack*
qmk
discord
user-dirs*
massif*
baloo*
kiorc
filetypesrc
